/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 août 2015, 14:36:21
    Author     : cosperec
*/
html
{
    height: 100%;
}

body{
   
   height: 100%;
}
.menu{
    width: 100%;
    overflow: hidden;
    position:absolute;
   
    h2{
        position: absolute;
        color: #FFFFFF;
        font-size: 35px;
    }
    button{
        margin-top:50px;
    }
}
#menu1{
    background-image: url(../img/Desert.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 33%;
    z-index: 10;
    
    h2{
         
    }
}
#menu2{
    background-image: url(../img/Tulips580.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 33%;
    z-index: 9;
    top:33%;
    h2{
       
    }
}
#menu3{
    background-image: url(../img/Jellyfish.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 34%;
    z-index: 8;
    top:66%;
    h2{
       
    }
}